body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: white;
	padding: 1em;
	text-align: center;
}

article {
	background-color: #fff;
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article img {
	max-width: 100%;
	display: block;
	margin-bottom: 1em;
}
